html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: 'Spoqa Han Sans', 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: "Spoqa Han Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/SpoqaHanSansRegular.woff2") format("woff2"),
  url("./fonts/SpoqaHanSansRegular.woff") format("woff"),
  url("./fonts/SpoqaHanSansRegular.ttf") format("truetype");
}
@font-face {
  font-family: "Spoqa Han Sans";
  font-weight: 500;
  src: url("./fonts/SpoqaHanSansBold.woff2") format("woff2"),
  url("./fonts/SpoqaHanSansBold.woff") format("woff"),
  url("./fonts/SpoqaHanSansBold.ttf") format("truetype");
}